.a-button {
  cursor: pointer;
  border-radius: 6px;
  display: block;
  max-width: max-content;

  &.-primary {
    position: relative;
    display: inline-block;
    border: 1px solid $primary;
    background-color: $primary;
    transition: .3s ease-in-out;
    padding: 11px 110px 11px 34px;

    &:hover {
      background: none;
    }

    &:before {
      width: 14px;
      height: 1px;
      content: '';
      background: $white;
      position: absolute;
      right: 35px;
      bottom: 50%;
    }

    &:after {
      position: absolute;
      right: 35px;
      transform: translateY(-50%) rotate(310deg);
      top: 50%;
      width: 10px;
      height: 10px;
      content: '';
      display: inline-block;
      transition: .3s ease;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-right-style: solid;
      border-right-width: 1px;
    }
  }

  &.-secondary {

    background-color: transparent;
    color: $white;
    border: 1px solid $primary;
    padding: 10px 40px;
    transition: .3s ease-in-out;

    &:hover {
      background: $primary;

    }
  }

}