$white: #fff !default;
$black: #000 !default;

$primary: #00d194 !default;
$secondary: #f69d05 !default;

// u scss-u se ovo pise rgba($white, .1)
// ne pisati nulu ispred tacke kod decimala, pisati samo .1

$gradient: rgba($white, .1);
$scroll: linear-gradient(180deg, $primary 25%, rgba(#02caec, 0) 100%);


// Set a specific jump point for requesting color jumps
$color-interval: 8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$contrast-threshold: 150 !default;