// stylelint-disable value-keyword-case
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'SFNS Display Regular' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, monospace !default;

// stylelint-enable value-keyword-case
$font-family-sfns: 'SFNS', $font-family-sans-serif;

$link-color: $white;

//paragraph sizes
$sixteen: 16px;
$fourteen: 14px;

$font-size-base: 16px;
$font-weight-base: normal;

$font-size-small: 80% !default;

$color-text-base: $white;

$line-height-base: 1.6 !default;

$h1-font-size-mobile: 36px !default;
$h2-font-size-mobile: 30px !default;
$h3-font-size-mobile: 31px !default;
$h4-font-size-mobile: 16px !default;
$h5-font-size-mobile: 14px !default;
$h6-font-size-mobile: 16px !default;

$h1-font-size-tablet: 48px !default;
$h2-font-size-tablet: 40px !default;
$h3-font-size-tablet: 31px !default;
$h4-font-size-tablet: 18px !default;
$h5-font-size-tablet: 18px !default;
$h6-font-size-tablet: 16px !default;

$h1-font-size-desktop: 58px !default;
$h2-font-size-desktop: 48px !default;
$h3-font-size-desktop: 38px !default;
$h4-font-size-desktop: 26px !default;
$h5-font-size-desktop: 20px !default;
$h6-font-size-desktop: 16px !default;

$headings-margin-bottom: 0 !default;
$headings-margin-top: 0 !default;
$headings-font-family: inherit !default;
$headings-line-height: 1.2 !default;
$headings-color: $white !default;

// Printing
$print-page-size: a3 !default;
$print-body-min-width: map-get($grid-breakpoints, 'lg') !default;

// Paragraphs
$paragraph-margin-bottom: 12px !default;
