.m-about {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include media-down(l) {
    flex-direction: column;
  }

  &__text {
    padding-top: 140px;
  }

  &__right {
    display: flex;
    flex-direction: row;

    &::before {
      margin-left: 40px;
      margin-right: 30px;
      content: '';
      height: 174px;
      width: 1px;
      background: $scroll;
      @include media-down(l) {
        display: none;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    width: max-content;
    padding-top: 13px;

    &:hover {
      color: $primary;
    }

    &--title {
      margin-left: 12px;
    }

    &--triangle {
      margin-left: 5px;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 16px solid $white;
    }

    &--circle {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 36px;
      background-color: $primary;
      text-align: center;
      transition: .1s ease-in-out;

      &:hover {
        transform: rotate(20deg);
      }
    }

  }

  &__greenTxt {
    color: $primary;
    font-size: $fourteen;
  }

  &__mainExc {
    font-size: $sixteen;
    line-height: 30px;
    padding-bottom: 18px;

    @include media-down(m) {
      max-width: 400px;
    }
  }

  &__secExc {
    p {
      letter-spacing: -.5px;
      line-height: 28px;
      font-size: $sixteen;
      max-width: 410px;
      opacity: .8;
    }

    margin-bottom: 20px;
    @include media-down(xl) {
      max-width: 350px;
    }
  }

  h2 {
    max-width: 470px;
    letter-spacing: -1.6px;
    line-height: 58px;
    padding-bottom: 30px;
  }

  &__image {
    margin-top: 80px;
    margin-left: -50px;
    @include media-down(l) {
      margin: 0;
      max-height: 400px;
    }
    @include media-down(xs) {
      height: 100%;
    }

    img {
      object-fit: contain;
      object-position: top;
      width: 100%;
      height: 100%;
    }
  }

  &__iframe {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    width: 80vw;
    height: 80vh;
    display: none;

    @include media-down(xl) {
      height: 50vh;
    }

    .-opened & {
      display: flex;
      flex-direction: column;
    }

    &--span {
      position: absolute;
      right: -50px;
      width: 26px;
      height: 20px;
      border: 0;
      padding: 0;
      outline: 0;
      cursor: pointer;

      span {
        .-opened & {
          position: absolute;
          display: block;
          height: 3px;
          width: 100%;
          background-color: $white;

          &:first-child {
            top: 50%;
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:last-child {
            top: 50%;
            transform: rotate(-45deg);
          }
        }
      }
    }

    iframe {
      display: none;
      width: 100%;
      height: 100%;
      border-style: none;

      .-opened & {
        display: block;
      }
    }
  }

}



