.m-events {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  padding-top: 105px;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;

    &--text {
      max-width: 590px;
      letter-spacing: -.2px;
      line-height: 27px;
      @include media-down(l) {
        margin-left: 0;
        margin-top: 20px;
        order: 2;
      }
    }

    h2 {
      max-width: 250px;
      letter-spacing: -1.8px;
      line-height: 58px;
      @include media-down(xl) {
        order: 0;
      }
    }

    .a-button {
      margin-right: 15px;
      padding: 10px 34px;
      @include media-down(xl) {
        order: 1;
      }
      @include media-down(s) {
        order: 3;
      }
    }
  }

  .m-events__swiper {
    padding-top: 70px;
    padding-left: 115px;
    @include media-down(s) {
      padding-left: 30px;
    }

    &Slide {
      cursor: pointer;
      height: 340px;
      padding-left: 30px;
      padding-top: 197px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 1px solid rgba($black, .9);
      transition: .3s ease-in-out;

      &:hover {
        border: 1px solid $primary;

      }

      span {
        font-size: $fourteen;
        color: rgba($white, .5);
        padding-bottom: 12px;
        line-height: 24px;
      }

      h5 {
        margin-top: 15px;
        width: 350px;
        font-size: 24px;
        line-height: 36px;
      }
    }

    &--button {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 60px;
      margin-bottom: 67px;
      margin-right: 116px;
      cursor: pointer;

      &Next,
      &Prev {
        height: 80px;
        width: 80px;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, .1);
        text-align: center;
        padding-top: 20px;
        border: 1px solid transparent;
        transition: .3s ease-in-out;

        &:hover {
          border: 1px solid $primary;

        }
      }


      &Prev {
        margin-right: 20px;
      }
    }

    .swiper-button-disabled {
      opacity: .3;

      &:hover {
        border: 1px solid transparent;
        transition: .3s ease-in-out;
      }
    }
  }
}