.m-footer {
  padding-top: 103px;
  padding-left: 75px;
  background-color: $black;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;

  @include media-down(l) {
    padding-left: 15px;
  }

  &__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
    margin-top: 65px;
    padding-bottom: 30px;
    font-size: 13px;
    opacity: .5;

    @include media-down(l) {
      display: block;

    }


    a {
      margin-right: 20px;
      @include media-down(l) {
        margin-right: 0;
      }
    }

    &--left {
      @include media-down(l) {
        text-align: center;
      }
    }

    &--right {
      display: flex;
      flex-direction: row;

      @include media-down(m) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }


  &__navigation {
    display: flex;
    flex-direction: row;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 800px;

    @include media-down(m) {
      flex-direction: column;
      align-items: inherit;
    }
  }

  &__menu {
    display: inline;

    a {
      margin-right: 30px;
      transition: .3s ease-in-out;

      &::before {
        content: '>  ';
        padding-right: 4px;
        color: $primary;
      }

      &:hover {
        color: $primary;
      }
    }

    .a-button {
      &.-primary {
        padding-right: 75px;
        margin-top: 45px;

        a::before {
          content: none;
        }
      }
    }
  }

  h2 {
    max-width: 529px;
    padding-bottom: 20px;
    letter-spacing: -1.7px;
    line-height: 68px;
  }

  .m-social {
    flex-direction: row;
    margin-top: 20px;

    img {
      padding-right: 0;
    }

    ul {
      display: flex;
      margin-top: 5px;
    }

    a {
      margin-right: 20px;

      &::before {
        content: none;
      }
    }
  }
}