.m-header {
  position: relative;
  background-size: cover, cover;
  background-position: center, top;
  background-repeat: repeat, no-repeat;

  &__navigation {
    z-index: 15;
    position: fixed;
    padding: 30px 0;
    width: 100%;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    transition: padding .3s;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba($black, .7);
      box-shadow: 0 0 2px rgba($white, .2);
      z-index: 0;
      transform: translateY(-100%);
      transition: transform .3s;
    }

    .-scroll & {
      padding: 15px 0;

      &::before {
        transform: translateY(0);
      }
    }
  }

  &__logo {
    z-index: 12;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    padding-left: 30px;

    img {
      @include media-down(s) {
        height: 40px;
      }
    }
  }

  &__navMenu {
    display: flex;
    align-items: center;
    padding-right: 30px;
    z-index: 1;

    .menu-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include media-down(l) {
        flex-direction: column;
        align-items: flex-end;
        padding-top: 100px;
      }
    }

    @include media-down(l) {
      transform: translate3d(150%, 0, 0);
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      align-items: flex-end;
      background-color: $black;
      padding-top: 30px;
      padding-right: 5%;
      padding-bottom: 30px;
      height: 100vh;
      width: 70vw;
      transition: .2s ease-in-out;

      .-open & {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .menu-item {
    &:not(:last-child) {
      @include media-up(l) {
        padding-right: 30px;
      }
    }

    @include media-down(l) {
      padding-bottom: 20px;
    }

    a {
      font-size: 1em;
      letter-spacing: -.5px;
      line-height: 30px;
      transition: .3s ease-in-out;
      @include media-down(l) {
        font-size: 25px;
      }
      @include media-down(s) {
        font-size: 20px;
      }

      &:hover {
        color: $primary;
      }

    }
  }


  &__button {
    .-scroll & {
      top: 30px;
    }

    @include media-up(l) {
      display: none;
    }
    @include media-down(l) {
      position: absolute;
      right: 20px;
      top: 45px;
      background-color: transparent;
      border: 0;
      padding: 0;
      outline: 0;
      cursor: pointer;
      transform: scale3d(1, 1, 1);
      transition: .2s;
      margin-left: auto;
      z-index: 20;
    }

    span {
      position: absolute;
      display: block;
      height: 3px;
      width: 100%;
      background-color: $white;
      border-radius: 60px;
    }

    &.m-header__button {
      width: 26px;
      height: 20px;

      &:focus {
        outline: none;
      }

      span {
        right: 0;
        transition: .22s ease-in;

        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          width: 20px;
          top: 8px;
        }

        &:last-child {
          top: 17px;
        }
      }

      .-open & {

        .m-header__navMenu {
          transform: scale3d(1, 1, 1);
        }

        span {
          background-color: $white;
          z-index: 15;

          &:first-child {
            top: 50%;
            transform: rotateZ(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
            right: -30px;
            transition: .3s ease-in-out;
          }

          &:last-child {
            top: 50%;
            transform: rotateZ(-45deg);
          }
        }
      }
    }
  }

  .a-button {
    &.-primary {

      a {
        @include media-down(l) {
          font-size: 18px;
        }
      }
    }
  }

}







