.m-hero {
  display: flex;

  @include media-down(l) {
    flex-direction: column;
  }

  &::before {
    position: absolute;
    //z-index: -0.9;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba($black, .5);

    @include media-down(xl) {
      background-color: rgba($black, .7);
    }
  }

  &__scroll {
    position: relative;
    z-index: 1;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(-25px);

    &-button {
      position: absolute;
      max-width: 37px;
      background: none;
      border-style: none;
      color: $white;
      font-size: 13px;
      cursor: pointer;
      padding-bottom: 120px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
        width: 1px;
        background: $scroll;
        animation: jump 1s ease-in infinite;
      }
    }

    @include media-down(l) {
      display: none;
    }

    @keyframes jump {

      0% {
        transform: translateY(0);
      }


      50% {
        transform: translateY(10px);
      }

      100% {
        transform: translateY(0);
      }
    }

    p {
      font-size: 13px;
    }
  }

  &__text {
    z-index: 1;
    padding-top: 188px;
    height: 100%;
    @include media-down(l) {
      margin-left: 0;
    }

    h1 {
      padding-bottom: 22px;
      letter-spacing: -1.3px;
      line-height: 68px;
    }


    p {
      font-size: 20px;
      letter-spacing: -.4px;
    }
  }

  &__social {
    z-index: 1;

    .m-social {
      margin-right: 40px;
      z-index: 10;
      width: 100%;
      height: 100%;
      transform: translateY(-38px);
      justify-content: flex-end;

      @include media-down(l) {
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 30px;
        margin-left: 8.3333333333%;

      }
      @include media-down(m) {
        margin-left: 15px;
      }

      ul {
        @include media-down(l) {
          display: flex;
        }
      }

      img {
        padding-right: 0;
        margin-right: 20px;
      }
    }
  }
}

