.m-info {
  background-color: $gradient;
  backdrop-filter: blur(10px);
  border-top: 2px solid rgba($white, .2);

  &:last-child {
    h4 {
      max-width: 265px;
    }
  }

  h4 {
    letter-spacing: -.3px;
    line-height: 36px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 34px;
    padding-bottom: 34px;
    @include media-down(l) {
      text-align: left;
    }

    img {
      margin-right: 20px;
    }

  }
}