.m-news {
  padding-top: 68px;
  padding-bottom: 100px;
  margin: auto;
  background-color: #1a1a1a;
  @include media-down(xl) {
    padding-bottom: 0;
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;

    h2 {
      max-width: 450px;
      letter-spacing: -1.7px;
      line-height: 58px;
    }

    .a-button {
      &.-secondary {
        margin-right: 15px;
        font-size: 14px;
        @include media-down(m) {
          font-size: 12px;
        }
      }
    }
  }

  &__posts {
    margin-top: 60px;

    .m-news__post {
      max-height: max-content;
      padding: 10px;
      background-color: #252525;
      display: flex;
      flex-direction: column;

      @include media-down(l) {
        margin-bottom: 16px;
      }

      &--text {
        padding: 20px;
        display: flex;
        flex-direction: column;
      }

      &--link {
        margin-top: auto;

        &::after {
          content: '';
          display: inline-block;
          height: 1px;
          width: 30px;
          margin-bottom: 2px;
          margin-left: 10px;
          background-color: $primary;
        }
      }

      &--link,
      &--title {
        transition: .3s ease-in-out;
      }

      &--link:hover,
      &--title:hover {
        color: $primary;
      }

      &--date {
        font-size: 14px;
        opacity: .5;
      }

      p {
        max-width: 423px;
        letter-spacing: -.5px;
        line-height: 28px;
      }

      h5 {
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 20px;
        max-width: 415px;
        @include media-down(m) {
          font-size: 18px;
        }
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }


  .m-news__post2 {
    display: flex;
    flex-direction: column;

    @include media-down(l) {
      padding-left: 0;
      padding-right: 0;
    }

    article {
      display: flex;
      flex-direction: row;
      background-color: #252525;
      padding: 10px;

      @include media-down(l) {
        background-color: rgba(#252525, .6);
      }

      &:first-child {
        margin-bottom: 16px;
      }
    }

    &--text {
      display: flex;
      flex-direction: column;
    }

    &--date {
      padding-left: 23px;
      font-size: 14px;
      opacity: .5;
    }

    &--link {
      padding-left: 23px;
      margin-top: auto;
      margin-bottom: 20px;

      &:hover {
        color: $primary;
        transition: .3s ease-in-out;
      }

      &::after {
        content: '';
        display: inline-block;
        height: 1px;
        width: 30px;
        margin-bottom: 2px;
        margin-left: 10px;
        background-color: $primary;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
    }

    h5 {
      font-size: 20px;
      padding-top: 12px;
      padding-left: 23px;
      max-width: 366px;
      margin-bottom: 30px;
      @include media-down(m) {
        font-size: 18px;
      }

    }
  }
}
