.m-panel {
  padding: 10px;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;

  &__center {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--text {


      h3 {
        @include media-down(m) {
          margin-top: 220px;
        }
      }

      p {
        max-width: 287px;
        font-size: 20px;
        line-height: 30px;
        @include media-down(m) {
          max-width: 600px;
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    img {
      max-width: 100%;
      position: absolute;
      object-fit: contain;
      margin-top: -200px;
      @include media-down(m) {
        margin-top: -70px;
        margin-left: auto;
      }
    }
  }


  .form {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @include media-down(xl) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include media-down(l) {
      margin-top: 30px;
      flex-direction: row;
    }
    @include media-down(m) {
      flex-direction: column;
    }

    input[type=text] {
      margin-bottom: 10px;
    }


    input[type=text],
    input[type=email] {
      height: 47px;
      width: 200px;
      padding-left: 10px;
      background-color: rgba($white, .5);
      color: $white;
      font-size: $sixteen;
      border-style: none;
      margin-right: 20px;
      @include media-down(xl) {
        width: 335px;
      }
      @include media-down(s) {
        width: 100%;
      }
      @include media-down(xs) {
        width: 90%;
      }

      &::placeholder {
        color: rgba($white, .6);
      }

      &:focus {
        outline: none;
      }
    }

    input[type=submit] {
      color: $white;
      height: 104px;
      padding: 0 48px;
      background-color: rgba($black, .1);
      border-style: none;
      border-radius: 0;
      font-size: 30px;
      transition: .3s ease-in-out;

      &:hover {
        background-color: rgba($black, .2);
      }

      @include media-down(m) {
        margin-top: 20px;
        font-size: 25px;
      }
      @include media-down(xs) {
        font-size: 20px;
      }

    }

    .wpcf7-response-output,
    .wpcf7-not-valid-tip,
    .wpcf7-spinner {
      display: none;
    }

    .wpcf7-not-valid {
      border: 1px solid #f00 !important;
      transition: .3s ease-in-out;
    }
  }
}