.m-social {
  display: flex;
  flex-direction: column;

  @include media-down(l) {
    flex-direction: row;
  }

  img {
    margin-top: 15px;
    opacity: .6;
    border: 2px solid rgba($primary, 0);
    transition: .3s ease-in;

    @include media-down(l) {
      margin-top: 0;
      padding-right: 20px;
    }

    &:hover {
      opacity: 1;
      border: 2px solid rgba($primary, 1);
    }
  }
}