// Use $font-path from _vars/_base.scss as path to fonts folder or update it here
// Use https://transfonter.org/ to generate fonts and update font path here
// Default font path (relative to style.css) is ../fonts (that is value of $font-path)

@font-face {
  font-family: 'SFNS';
  src: url('#{$font-path}/SFNS/SFNS.woff2') format('woff2'),
  url('#{$font-path}/SFNS/SFNS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}