.m-blog {
  position: relative;
  background-color: #252525;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-size: contain;

  &::before {
    position: absolute;
    z-index: -.9;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(#252525, .8);

  }

  &__scroll {
    position: relative;
    z-index: 1;
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transform: translateY(160px);

    &-button {
      position: absolute;
      max-width: 37px;
      background: none;
      border-style: none;
      color: $white;
      font-size: 13px;
      cursor: pointer;
      padding-bottom: 120px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
        width: 1px;
        background: $scroll;
        animation: jump 1s ease-in infinite;
      }
    }

    @include media-down(l) {
      display: none;
    }

    @keyframes jump {

      0% {
        transform: translateY(0);
      }


      50% {
        transform: translateY(10px);
      }

      100% {
        transform: translateY(0);
      }
    }

    p {
      font-size: 13px;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }


  &__sidebar {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    max-width: 450px;
    @include media-down(xl) {
      max-width: 350px;
    }
    @include media-down(l) {
      position: relative;
      max-width: 100vw;
      padding: 10px 30px 30px;
    }


    &Wp {
      background-color: rgba($black, .5);
      padding: 154px 30px 30px;

      @include media-down(l) {
        padding-top: 30px;
      }
    }


    &--categories {
      font-size: 20px;
      transition: .1s ease-in-out;
      margin-bottom: 8px;

      a::before {
        content: '>';
        color: $primary;
        padding-right: 14px;

      }

      a {
        transition: .3s ease-in-out;

        &:hover {
          color: $primary;
        }
      }


    }

    &--heading {
      margin-top: 40px;
    }

    &--label {
      position: absolute;
      top: 30%;
      display: flex;
      justify-content: space-between;
      width: 98%;
      padding-left: 14px;
      transform: translateY(-50%);
      pointer-events: none;
      transition: top .2s;
      color: rgba($white, .8);

    }

    &--search {
      position: relative;

      input[type=text] {
        background-color: rgba($white, .15);
        padding-left: 14px;
        margin-bottom: 32px;
        border-style: none;
        border-radius: 6px;
        width: 100%;
        height: 52px;
        color: $white;

        &:focus {
          outline: none;
        }
      }

      input[type=submit] {
        display: none;
      }

    }

    &--posts {
      padding-bottom: 32px;
      padding-top: 32px;

      &:not(:last-child) {
        border-bottom: 1px solid rgba($white, .2);
        padding-bottom: 24px;
      }

      a {
        margin-top: 8px;
        font-size: 24px !important;
        transition: .3s ease-in-out;

        &:hover {
          color: $primary;
        }
      }
    }

    h4 {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-left: 15px;
    max-width: 405px;
    letter-spacing: -.8px;
  }

  &__slide {
    position: relative;
    margin-left: 0;
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    }
  }

  &__slideText {
    position: relative;
    padding: 240px 0 0 40px;
    max-width: 570px;

    h4 {
      font-size: 30px;
      line-height: 42px;
    }

    a {
      margin-top: auto;
    }

    span {
      font-size: $fourteen;
      opacity: .5;
      padding-bottom: 4px;
    }
  }

  &__posts {
    margin-bottom: 80px;
  }

  &__post {
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    padding: 10px;
    background-color: $black;
    border: 1px solid $black;
    transition: .3s ease-in-out;


    &:hover {
      border: 1px solid $primary;
    }

    &--image {
      width: 220px;
      //height: 220px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

    }

    &--text {
      display: flex;
      flex-direction: column;
      padding-top: 17px;
      padding-left: 23px;
      max-width: 500px;

      h4 {
        font-size: 20px;
        padding-top: 12px;
        margin-bottom: 32px;
      }

    }

    &--link {
      margin-top: auto;
      padding-bottom: 23px;
      font-size: $sixteen;
      transition: .3s ease-in-out;

      &:hover {
        color: $primary;
      }

      &::after {
        content: '';
        display: inline-block;
        height: 1px;
        width: 30px;
        margin-bottom: 2px;
        margin-left: 10px;
        background-color: $primary;
      }


    }

  }

  .swiper-pagination {
    bottom: 70px;
    right: 15px;

    &-bullet {
      background-color: rgba($white, 1);
      margin-right: 25px;


      &-active {
        background-color: $primary;
      }
    }
  }

  &__member {
    right: 22px;
    padding: 25px 80px 25px 32px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    background-color: $secondary;
    border-radius: 6px;
    @include media-down(l) {
      max-width: 450px;
    }

    p {
      max-width: 320px;
      line-height: 26px;
      margin-top: 8px;
    }

    .a-button {
      &.-primary {
        font-size: $sixteen;
        background-color: rgba($black, .1) !important;
        border: transparent;
        border-radius: 6px;
        margin-top: 16px;

        &:hover {
          background-color: rgba($black, .3);
        }
      }
    }

    h5 {
      font-size: 24px;
    }


  }
}