.m-content {
  background-color: $white;
  color: $black;

  a,
  h2 {
    color: $black;
  }

  h2 {
    padding-bottom: 32px;
  }

  &__feature {
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__heading {
    color: $white;
    padding-top: 254px;
    padding-bottom: 90px;
  }

  &__posts {
    padding-top: 100px;

    &--date {
      font-size: 14px;
      line-height: 24px;
      opacity: .5;
    }
  }


  &__social {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding-left: 25px;
    padding-right: 23px;
    background-color: #f1f1f1;

    &--icons {
      display: flex;
      flex-direction: row;
    }

    img {
      border: 2px solid transparent;
      transition: .3s ease-in-out;

      &:hover {
        border: 2px solid $primary;

      }
    }

    li:not(:last-of-type) {
      margin-right: 20px;
    }

  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    padding-top: 16px;
    padding-bottom: 80px;
    border-top: 1px solid #e1e1e9;
    font-size: $sixteen;

    &--first {
      a::before {
        content: '<';
        padding-right: 4px;
        color: $primary;
      }
    }

    &--second {
      a::after {
        content: '>';
        padding-left: 4px;
        color: $primary;
      }
    }
  }
}