.m-contact {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 70px;

  &__scroll {
    position: relative;
    z-index: 1;
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transform: translateY(315px);

    &-button {
      position: absolute;
      max-width: 37px;
      background: none;
      border-style: none;
      color: $white;
      font-size: 13px;
      cursor: pointer;
      padding-bottom: 120px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
        width: 1px;
        background: $scroll;
        animation: jump 1s ease-in infinite;
      }
    }

    @include media-down(l) {
      display: none;
    }

    @keyframes jump {

      0% {
        transform: translateY(0);
      }


      50% {
        transform: translateY(10px);
      }

      100% {
        transform: translateY(0);
      }
    }

    p {
      font-size: 13px;
    }
  }

  &__top {
    align-items: center;
    padding-top: 185px;
  }


  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba($black, .8);
  }

  &__heading {
    max-width: 664px;
    line-height: 68px;
    letter-spacing: -1.4px;
  }

  &__info {
    margin-top: 7px;
    margin-left: 28px;
    padding-bottom: 8px;

    img {
      padding: 3px 15px 3px 0;
    }

    span {
      font-size: $sixteen;
      letter-spacing: -.5px;
      line-height: 30px;
    }

  }

  .wpcf7-form {
    padding-top: 50px;
    position: relative;

    .wpcf7-not-valid-tip {
      display: none;
    }

    > div {
      font-size: 16px;
      position: relative;
      margin-bottom: 36px;

      .wpcf7-not-valid {
        border-bottom: 1px solid #f00 !important;
        transition: .4s ease-in-out;
      }

      label {
        position: absolute;
        top: 15px;
        transform: translateY(-50%);
        pointer-events: none;
        transition: top .2s;
        color: rgba($white, .8);
        line-height: 28px;

        span {
          color: #f00;
        }
      }
    }

    input.wpcf7-text,
    textarea {
      width: 100%;
      padding-bottom: 7px;
      border-style: none;
      border-bottom: 1px solid #565a65;
      background-color: transparent;
      color: rgba($white, 1);
      font-size: 16px;
      line-height: 28px;
    }

    input.wpcf7-text:focus,
    textarea:focus {
      outline: none;
    }

    .has-value {
      top: -10px;
    }

    .a-button {
      &.-primary {
        margin-top: 8px;
        padding: 14px 104px 14px 30px;
        color: $white;
        background-color: transparent;
      }

      &:hover {
        background-color: $primary;
      }
    }
  }

  .wpcf7-response-output {
    position: absolute !important;
    border-style: none !important;
    color: $secondary;
    padding: 0 !important;
  }
}